/* 동그란 ImageView */
.userphoto-image {
    -fx-border-radius: 50%; /* 테두리를 둥글게 */
    -fx-background-radius: 50%; /* 배경 둥글게 */
    -fx-padding: 0; /* 불필요한 여백 제거 */
    -fx-border-color: transparent; /* 테두리 색상 제거 */
    /*-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.1, 0, 0); 그림자 효과 */
}
