/* 다음 버튼 스타일 */
.nextbtn {
    -fx-font-size: 16px;                    /* 텍스트 크기를 16px로 설정 */
    -fx-font-weight: bold;                  /* 텍스트 굵기를 bold으로 설정 */
    -fx-font-family: "Arial";               /* 폰트 설정 */
    -fx-background-radius: 5;               /* 버튼의 배경을 둥글게 처리 (반지름 5px) */
    -fx-border-radius: 5;                   /* 버튼의 테두리를 둥글게 처리 (반지름 5px) */
    -fx-padding: 10;                        /* 버튼 안쪽 여백 (패딩)을 10px로 설정 */
    -fx-cursor: hand;                       /* 마우스가 버튼 위에 올려졌을 때 손가락 모양으로 변경 */
    -fx-background-color: #DADADA;          /* 버튼 배경색을 연한 회색(#DADADA)으로 설정 */
    -fx-text-fill: #4F735C;                 /* 텍스트 색상을 짙은 녹색(#4F735C)으로 설정 */
}


/* 전체 배경 */
.vbox {
    -fx-background-color: #FFFFFF; /* 배경색 */
    -fx-spacing: 10; /* 요소 사이 간격 */
    -fx-padding: 20;
}

