/* 버튼 스타일 */
.button {
    -fx-font-family: "SB 어그로 B";
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 10;
    -fx-cursor: hand;
}

/* 다음 버튼 스타일 */
.nextbtn {
    -fx-font-family: "SB 어그로 B";
    -fx-background-color: #4F735C;
    -fx-text-fill: #4F735C;                 /* 텍스트 색상을 짙은 녹색(#4F735C)으로 설정 */
    -fx-background-color: #DADADA;          /* 버튼 배경색을 연한 회색(#DADADA)으로 설정 */
}

/* 버튼 클릭 시 효과 */
.button:pressed {
    -fx-opacity: 0.8;
}